<small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://www.11ty.dev/">Eleventy</a> & <a href="https://shopify.github.io/liquid/">Liquid</a> by <a href="{{site.authorUrl}}">Michel Maillard</a> • <a href="/assets/admin">Decap CMS</a></small>
