<div class="newsletter">
        <p id="newsletter-subscribe-form-heading">Subscribe to the newsletter</p>
        <form aria-labelledby="newsletter-subscribe-form-heading" name="newsletter" action="/subscribe" type="post">
            <label for="email">Please provide your email address</label>
            <input type="email" id="email" name="email" />
            <button type="submit">Subscribe Me</button>
        </form>
    </div>
