<nav aria-label="Secondary">
    <ul>
        <li><a href="{{ html.website | url }}">Website</a></li>
        <li><a href="{{ html.github | url }}">Github</a></li>
        <li><a href="{{ html.demo | url }}">Demo</a></li>
        <li><a href="/assets/css/{{ html.name }}.css">CSS</a></li>
    </ul>
</nav>